@import '../../vars.scss';


.text-input-container {
  // width: 100%;
}

.text-input {
  // width: 100%;
  border-width: 1px;
  border-color: #003470;
  border-radius: 5px;
  padding-left: 12px;
  font: 16px $fonts-regular;
}